apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secrets
type: Opaque
data:
  MYSQL_DATABASE: <password> #nextcloud
  MYSQL_USER: <password>     #nextcloud
  MYSQL_PASSWORD: <base64-encoded-password>        #manually generated with pwgen 
  MYSQL_ROOT_PASSWORD: <base64-encoded-password>   #manually generated with pwgen
