apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secrets
type: Opaque
data:
  MYSQL_DATABASE: bmV4dGNsb3Vk 
  MYSQL_USER: bmV4dGNsb3Vk 
  MYSQL_PASSWORD: <base64-encoded-password>        #manually generated with pwgen 
  MYSQL_ROOT_PASSWORD: <base64-encoded-password>   #manually generated with pwgen
